{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load bootstrap5 %} {% bootstrap_javascript %} {% bootstrap_css %} <link
    rel="stylesheet" href="{% static "css/home.css" %}">
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css"
    />
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"
    ></script>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary"
      style="background-color: #384e49"
    >
      <div class="container-fluid">
        <a class="navbar-brand" style="color: #fff; font-weight: bold" href="{% url 'home'%}"
          >LBM</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="color: #fff; font-weight: bold"
              >
                Users
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'user_add'%}"
                    >Add New User</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'all_users' %}"
                    >All Users</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="color: #fff; font-weight: bold"
              >
                Books
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'add_book'  %}"
                    >Add New Book</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'all_books' %}"
                    >All Books</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'borrow' %}"
                    >Borrow Book</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'borrowed_book' %}"
                    >Borrowed Books</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
  <footer>@2024 LBM. All copyrights reserved to Elizabeth.</footer>
</html>
